:root {
    --huddleViolet: hsl(257, 40%, 49%);
    --huddleMagenta: hsl(300, 69%, 71%);
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    html {
        font-size: 1.4vw;
    }
}

/* -------------------- Background Image & Globals -------------------- */

body {
    min-height: 100vh;
    background-color: var(--huddleViolet);
    background-image: url("images/bg-mobile.svg");
    background-repeat: no-repeat;

    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: x-large;
}

@media only screen and (min-width: 768px) {
    body {
        background-image: url("images/bg-desktop.svg");
        background-size: auto 100%;
        text-align: left;
    }

    h1 {
        font-size: 2.2rem;
    }
}

/* -------------------- Header -------------------- */

header {
    padding: 2rem;
    text-align: left;
}

.logo {
    width: 8rem;
}

@media only screen and (min-width: 768px) {
    header {
        padding: 3.5rem;
    }

    .logo {
        width: 12rem;
    }
}

/* -------------------- Hero -------------------- */

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.mockups {
    padding: 0.5rem 0;
    margin-bottom: 2rem;
}

.hero-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
}

.hero-txt h1 {
    margin-bottom: 1rem;
}

.hero-txt p {
    margin-bottom: 1.5rem;
}

.hero-txt button {
    width: 12rem;
    height: 2.4rem;
    margin-bottom: 1.5rem;
    border-radius: 1.2rem;
    border-style: none;
    cursor: pointer;
    font-size: smaller;
    color: var(--huddleViolet);
    box-shadow: 2px 2px 5px #303030;
}

.hero-txt button:hover {
    background-color: var(--huddleMagenta);
    color: white;
}

.socials a {
    font-size: small;
    margin: 0 0.2rem;
    cursor: pointer;
    text-decoration: none;
}

.socials a:visited {
    color: inherit;
}

.socials a:hover  {
    color: var(--huddleMagenta);
}

@media only screen and (min-width: 768px) {
    .hero {
        flex-direction: row;
        padding: 0 4rem;
        margin: 0;
    }

    .mockups {
        width: 55%;
        margin-bottom: 0;
    }

    .hero-txt {
        padding: 3rem;
        padding-right: 1rem;
        align-items: flex-start;
    }

    .hero-txt button {
        width: 11rem;
        height: 3rem;
        border-radius: 1.5rem;
    }

    .socials {
        display: flex;
        justify-content: end;
        margin-right: 5rem;
    }

    .socials a {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1400px) {
    .mockups {
        width: 100rem;
    }
}

/* -------------------- Footer -------------------- */

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 1rem 0;
    padding: 0 4rem;
}

.attribution a {
    color: khaki;
    text-decoration: none;
}

.attribution a:hover {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .attribution {
        font-size: 1vw;
    }
}
